<!--
    <ul class="nav nav-tabs"> 
      <ul class="nav nav-pills">
    <div class="row">
    <div class="col-lg-0  col-sm-offset-4">
      <nav class="navbar navbar-expand bg-warning">
          <ul class="nav navbar-nav">
       
        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
        <li class="nav-item "><a class="nav-link" href="#">Servers

        </a></li>
        <li class="nav-item "><a class="nav-link" href="#">Users</a></li>
      </ul></nav></div>
    </div>   
-->
<!--
<div class= "row">
    <div class="col-md-8"> 
         -->
     <!--

        <div class="container">
         <div class="row">
           <div class="col-md-6 bg-warning" id="c1">
         <ul class="nav nav-tabs">
            <li class="nav-item dropdown"><a class="nav-link" href="#">Home</a></li>
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"  href="#"></a>
            <ul class="dropdown-menu">
              <li class="nav-item">link1</li>
            </ul>
        <li class="nav-item "><a class="nav-link" href="#">Server</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item "><a class="nav-link" href="#">Server</a></li>


         </ul></div></div></div>  
        --> 
         
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
    <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/']" style="cursor: pointer; ">RecipeBook</a></div>
          
              <ul class="navbar-nav">
         <li class=" nav-item" ><a routerLink="/recepient"  class="nav-link" >Recipes</a></li>
         <li class=" nav-item" ><a routerLink="/slist"  class="nav-link" >ShoppingList</a></li>
            </ul>
            <ul class=" navbar-nav ml-auto">
                    <li class="nav-item dropleft">
                            <a  class="dropdown-toggle nav-link" style="cursor:  pointer; color:blue" data-toggle="dropdown">Manager</a>
                            <ul class="dropdown-menu">
                              <li class="nav-item">
                <a class="nav-link" id="c" style="cursor: pointer; color:greenyellow"  routerLinkActive="active">Recipeslist</a></li>
                              <li class="nav-item">
                <a  class="nav-link" style="cursor: pointer; color:greenyellow" routerLinkActive="active">reecipeDetails</a></li>
                              
                          </ul>
                   </li></ul></div>
          </nav>
    <hr>
    