<div class="container">
<div class="row">
        <div class="col-md-5">
            <app-recipes-list ></app-recipes-list>
        </div>
        <div class="col-md-7" id="t1">
         <router-outlet></router-outlet>
        </div>
</div> 
        
          
       <!--   <app-recipes-details *ngIf=" selectedRecipe ; else info_Text" 
           [recipedetail]= "selectedRecipe" >
            </app-recipes-details>
              
            <ng-template #info_Text>
                    <p>Please_Select_a_Recipe</p>
                </ng-template>
        </div>
    </div>      -->
  
  <!-- /* <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle">Duplicate</button>
        <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="#" class="dropdown-link"></a>List</li>
                <li class="dropdown-item"><a href="#" class="dropdown-link"></a>List</li>
                <li class="dropdown-item"><a href="#" class="dropdown-link"></a>List</li>
        </ul>
    </div>
</div> */ -->



<!--<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Dropdown button
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a>
    </div>
  </div>  -->

   
